@import url("https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
  font-size: 16px;
  padding: 8px 16px;
  background: hsla(210, 90%, 80%, 1);
  background: linear-gradient(
    180deg,
    hsla(210, 90%, 80%, 1) 0%,
    hsla(212, 93%, 49%, 1) 100%
  );
  position: relative;
  user-select: none;
}

header {
  font-family: "DynaPuff", system-ui;
  font-size: 1.5rem;
  margin: 20px auto 5px;
  text-shadow: 3px 5px 5px rgba(0, 0, 0, 0.5);
}

form input {
  max-width: 300px;
  height: 35px;
  font-size: 1rem;
  padding-left: 2px;
  border: 1px solid #000;
  border-radius: 8px;
  outline: none;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.6);
}

form input:hover {
  box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.8);
}

form button {
  width: 30px;
  font-size: 1rem;
  border: 1px solid #000;
  border-radius: 5px;
  vertical-align: middle;
  cursor: pointer;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.6);
}

form button:hover {
  box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.8);
}

section {
  font-size: 1.25rem;
  text-align: center;
  padding: 1rem 1.5rem;
  margin-top: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #000;
  border-radius: 8px;
  box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.8);
}

section > * {
  padding: 0.5rem 0;
}

section > button {
  font-size: 1rem;
  font-weight: 800;
  margin: 10px 0;
  padding: 5px;
  border: 1px solid #000;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.6);
}

section > button:hover {
  box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.8);
}

.gif {
  width: 400px;
  height: 250px;
  object-fit: contain;
  border: 1px solid #000;
  border-radius: 5px;
}
